<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="SustainableHub" asp-action="Index">
            <i class="fas fa-seedling me-1"></i>Sustainable Hub
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Marketplace" asp-action="Index">
            <i class="fas fa-shopping-cart me-1"></i>Marketplace
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Add">
            <i class="fas fa-box me-1"></i>Add Product
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Index">
            <i class="fas fa-list me-1"></i>View Products
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Training" asp-action="Index">
            <i class="fas fa-graduation-cap me-1"></i>Training
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Collaboration" asp-action="Index">
            <i class="fas fa-users me-1"></i>Collaboration
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Farmer" asp-action="Add">
            <i class="fas fa-users me-1"></i>Add Farmer
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Farmer" asp-action="Index">
            <i class="fas fa-list me-1"></i>View Farmer
        </a>
    </li>
</ul>